.container {
  display: grid;
  grid-template-rows: 60% 1fr;
  justify-items: center;
  gap: 1em;
  height: 100vh;
  background-color: var(--color-background);
}

.logo {
  width: 100%;
  margin-bottom: 1.5em;
  align-self: flex-end;
  animation-duration: 3s;
  animation-name: slidedown;
}

.title {
  font-family: var(--font-headings);
  font-size: 3em;
  letter-spacing: 0.05em;
}
