.container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5em;
  position: relative;
  border: solid var(--color-border) 0.1em;
  border-radius: 1em;
  padding: 0.5em;
}

.img {
  grid-row: 1 / 5;
  width: 6em;
  height: 6em;
  object-fit: cover;
  border-radius: 0.5em;
}

.eventName {
  align-self: center;
}

.button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  border: none;
  background-color: transparent;
}
