*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-background: #fdf200;
  --color-primary: #e05263;
  --color-secondary: #23c9ff;
  --color-card: #fff;
  --color-text: #000;
  --color-border: #c4c4c4;

  /* FONTS */
  --font-headings: "Arial", sans-serif;
  --font-text: "Arial", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--font-headings);
}

h2 {
  font-size: 0.8em;
}

p {
  margin: 0;
  font-family: var(--font-text);
  font-size: 0.7em;
}
